<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Jushita Rahman</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/img/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="/static/img/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="/static/img/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/img/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="/static/img/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16.png">
	<link rel="apple-touch-icon" href="/static/img/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/static/img/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/static/img/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/static/img/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/static/img/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/static/img/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/static/img/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/static/img/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="/static/img/favicon-144.png">
	<meta name="msapplication-config" content="/static/img/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />

</head>
<body>
    <!--Header-->
    <div id="header">
        <div class="inner name">
            <a href="#illustration">Jushita Rahman</a>
        </div>
        <div class="nav">
            <ul class="mobile-nav">
                <li class="mobile-header">
                    <a href="#about">About</a>
                </li>
                <li class="mobile-header">
                    <a href="#resume">Resume</a>
                </li>
                <li class="mobile-header">
                    <a href="#work">Work</a>
                </li>
                <li class="mobile-header">
                    <a href="#contact">About</a>
                </li>

            </ul>
        </div>
    </div>
    <!--Essentials Illustration-->
    <div id="illustration">
        <center><img /></center>
    </div>
    <!--About me-->
    <div id="about">
        <div class="inner">
            <p>Hello World, I am a Software Developer</p>
            <br>
            <br>
            <br>
        </div>
        <!--Console-->
        <div>
            <div id="code">
                <div id="console">
                    <img />
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letras</p>
                </div>
            </div>
        </div>
    </div>
    <div id="resume">

    </div>
    <div id="work">

    </div>
    <div id="contact">

    </div>
    <div if="footer">
        <div class="inner">
            				© 2017 Jushita Rahman


        </div>

    </div>
</body>
</html>